/* tooltip arrows from: http://www.cssarrowplease.com/ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0px none;
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body, html {
    color: #000;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    /*line-height: 16px;*/
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.main {
    max-width: 1100px;
}

text {
    font-family: "Lato", sans-serif;
}

*, *::before, *::after {
     box-sizing: border-box;
}

a {
    color:#1696d2;
    text-decoration: none;
    cursor: pointer;
}

a.topOfPageLink {
    font-size: 14px;
    color: #353535;
    text-transform: uppercase;
}

a:hover {
    color: #000;
    text-decoration: none;
}

p {
    margin-bottom: 24px;
    line-height: 1.56;
    max-width: 700px;
}

.hidden {
    display: none;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

h1.peerGroupTitle {
    font-size: 36px;
    text-align: left;
    margin-top: 80px;
    padding-left: 15px;
}

h2 {
    font-size: 48px;
    font-weight: lighter;
    color: #353535;
    text-align: center;
}

/* needed for IE so images with transparent backgrounds used in buttons don't show up with a grey background */
button {
    /*background: transparent;*/
    background-color: #fff;
    border: 0.5px solid #353535;
    height: 45px;
    min-width: 250px;
    font-size: 18px;
    text-transform: uppercase;
    color: #353535;
    padding: 10px 15px;
    margin: 10px 30px 50px 0;
    cursor: pointer;
}

button.viewStrategiesBtn {
    background-color: #1696d2;
    color: #fff;
    border: 0.5px solid #1696d2;
}

button:hover, button:focus {
    background-color: #1696d2;
    color: #fff;
    border-color: #1696d2;
}



/************ SUBNAV ***************/
/*
.subnav {
    width: 100%;
    position: fixed;
    top: 51px;
    height: 40px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #eee;
}

.subnav ul {
    text-align: center;
    margin: 0px;
}

.subnav ul li {
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    padding-left: 24px;
    padding-top: 10px;
}
*/

.peerGroupMenu {
    width: 100%;
    height: 616px;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    position: fixed;
    top: 52px;
    right: 0;
    z-index: 150;
    padding: 40px 80px;
}

/*.arrow_box {
    position: relative;
    background: #f9f9f9;
    border: 1px solid #f9f9f9;
}*/
.peerGroupMenu:after, .peerGroupMenu:before {
    bottom: 100%;
    right: 115px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.peerGroupMenu:after {
    border-color: rgba(249, 249, 249, 0);
    border-bottom-color: #f9f9f9;
    border-width: 20px;
    margin-left: -20px;
}

.peerGroupMenu:before {
    border-color: rgba(249, 249, 249, 0);
    border-bottom-color: #f9f9f9;
    border-width: 21px;
    margin-left: -21px;
}

.peerGroupRow {
    width: 100%;
    max-width: 1138px;
    margin: 0 auto 30px;
}

.peerGroupLink {
    display: inline-block;
    width: 49%;
    min-height: 45px;
    vertical-align: top;
    padding: 0 40px 0 10px;
}

.peerGroupLink a {
    color: #000;
    font-size: 18px;
}

.peerGroupLink a:hover, .peerGroupLink a:focus {
    font-weight: bold;
}

.peerGroupMenu hr {
    border: 1px solid #d2d2d2;
    max-width: 1138px;
    margin: 40px auto;
}

/**************** Intro section styles **************/
section.intro {
    padding: 40px 0;
    border-bottom: 1px solid #d2d2d2;
}

.publishedDate {
    color: #353535;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 40px;
}

.intro p {
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
    color: #353535;
    max-width: 100%;
}

/***************** mobile chapter (replacing the subnav for smaller screens) ******************/

#mobilenavcontainer {
    display: none;
}

.show-menu {
	display: none;
    margin-top:50px;
}

/*Style for menu links*/
ul#menu li a {
    display: block;
    min-width: 140px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    height: 36px;
    padding-top: 8px;
}

/*Hover state for top level links*/
ul#menu li:hover a {
  color: #0096d2;
}

/*Style for dropdown links*/
ul#menu li:hover ul a {
	background: #333;
    color:#fff;
    border-right-color: #222;
    border-right:1px solid;
    border-color: #222;
    border-top:5px solid;
    border-top-color:#222;
}



/*********** PEER GROUP STYLES **********/
.peerGroup1 {
    border-left: 7px solid #A4201D;
}

.peerGroup2 {
    border-left: 7px solid #DB2B27;
}

.peerGroup3 {
    border-left: 7px solid #CA5800;
}

.peerGroup4 {
    border-left: 7px solid #E88E2D;
}

.peerGroup5 {
    border-left: 7px solid #FDBF11;
}

.peerGroup6 {
    border-left: 7px solid #FDD870;
}

.peerGroup7 {
    border-left: 7px solid #FCE39E;
}

.peerGroup8 {
    border-left: 7px solid #12719E;
}

.peerGroup9 {
    border-left: 7px solid #1696D2;
}

.peerGroup10 {
    border-left: 7px solid #73BFE2;
}

.peerGroupBullets li.bullet_peerGroup1::before {
    color: #A4201D;
}

.peerGroupBullets li.bullet_peerGroup2::before {
    color: #DB2B27;
}

.peerGroupBullets li.bullet_peerGroup3::before {
    color: #CA5800;
}

.peerGroupBullets li.bullet_peerGroup4::before {
    color: #E88E2D;
}

.peerGroupBullets li.bullet_peerGroup5::before {
    color: #FDBF11;
}

.peerGroupBullets li.bullet_peerGroup6::before {
    color: #FDD870;
}

.peerGroupBullets li.bullet_peerGroup7::before {
    color: #FCE39E;
}

.peerGroupBullets li.bullet_peerGroup8::before {
    color: #12719E;
}

.peerGroupBullets li.bullet_peerGroup9::before {
    color: #1696d2;
}

.peerGroupBullets li.bullet_peerGroup10::before {
    color: #73BFE2;
}

/*********** STRUCTURE ***********/

.wrapper {
    /*width: 960px;*/
    margin:0 auto;
    padding-top: 80px;
    border-top: 1px solid #eee;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 0px 30px;

}

.content ul {
    list-style: outside none none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.content ul li {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding-left: 1%;
}

.text {
    width: 500px;
    margin: 35px 75px;
}

.left {
    float: left;
}

.right {
    float: right;
}



/********** CHART STYLES ****************/
.chart {
    height: 150px;
    width: 150px;
    background-color: #d2d2d2;
    display: inline-block;
    float: left;
    margin: 20px;
}

/********** LEGEND STYLES **************/
.legend {
    padding: 20px;
}

.legendEntry {
    display: inline-block;
    width: 200px;
}

.legendText {
    font-family: Lato;
    font-size: 12px;
    line-height: 20px;
    float: left;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    /*width: calc(100% - 20px);*/
}

.legendSquare {
    /*display: inline-block;*/
    height: 0;
    width: 0;
    margin-right: 10px;
    float: left;
}

/********** PEER GROUP PROFILE PAGE STYLES ***********/
section.peerGroupSummary {
    margin-top: 60px;
}

.peerGroupBullets {
    width: 350px;
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}

.peerGroupBullets ul {
    margin: 0;
    color: #353535;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    list-style: none;
}

.peerGroupBullets li {
    margin-bottom: 30px;
}

/* how to change color of bullets: https://www.w3schools.com/howto/howto_css_bullet_color.asp  */
.peerGroupBullets li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #000; /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.map {
    width: 700px;
    height: 427px;
    background-color: #d2d2d2;
    display: inline-block;
    vertical-align: top;
}



/******************* DRAWER STYLES ****************/
section.dashboardDrawers {
    margin-top: 50px;
}

.metricDrawer {
    width: 100%;
    background-color: #f9f9f9;
    color: #353535;
}

.metricDrawerTitle {
    width: 100%;
    height: 50px;
    background-color: #efefef;
    color: #000;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 50px;
    padding-left: 20px;
    cursor: pointer;
}

.metricDrawerContent {
    width: 100%;
    /*padding: 20px;*/
    overflow: hidden;
}

.metricDescription {
    width: 100%;
    clear: both;
    padding: 20px;
}

.metricDescription p {
    max-width: 100%;
}

.legend {
    width: 100%;
    height: 30px;
}

.charts {
    width: 100%;
    height: 150px;
}

/********header (below urban menu)**********/


/*.headerimage {
    width: 100%;
    height: 350px;
    position: relative;
    top: 50px;
}

#heroimage{
    background-image: url("../img/infant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}*/






/*********read the research**********/

#inset {
    float: right;
    width: 200px;
    border-left: 1px solid #999;
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#research { /*this styles the title for the read the research section*/
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.research {
    text-align: left;
    line-height: 1.2;
    font-size: 14px;
    margin-top: 10px;
}

#inset .readButton {
    margin-top: 0px;
    margin-bottom: 30px;
}

.readButton a {
    color: #fff;
    background-color: #0096d2;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

.readButton a:hover {
    background-color: #000;
}

#inset ul {
    margin-left: 0px;
    margin-bottom: 0px;
    text-indent: 0px;
}

#inset li {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}


/************** general text styles***************/






/*image that goes 65% width of wrapper. */
.overhalf {
    width: 60%;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-right: 75px;
}

.full {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
}

.caption {
    margin-bottom: 30px;
    font-size: 14px;
    font-style: italic;
    color: #666;
}

.half {
    width: 49.5%;
    margin-top: 3px;
    margin-bottom: 10px;
}

iframe{
    margin-bottom: 20px;
}

/*footer*/

footer {
    /*position: fixed;*/
    /*background-color: #f1f2f2;*/
    width: 100%;
    margin-top: 185px;
    padding-top: 50px;
    padding-bottom: 25px;
    /*bottom: 0;*/
    overflow: hidden;
    height: auto;
    /*z-index: 10000;*/
    border-top: 1px solid #d2d2d2;
}

@media screen and (max-height: 880px){
    footer{
        margin-top: 50px;
    }
}

.peerGroupProfile footer {
    border-top: none;
    margin-top: 0;
}

footer .content{
    max-width: 700px;
}

.peerGroupProfile footer .content {
    max-width: 100%;
    padding: 0;
}

footer h4 {
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0 25px 0;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 700;
}

.peerGroupProfile footer h4 {
    font-size: 28px;
    font-weight: bold;
    text-transform: none;
}

#left {
    float: left;
    width: 45%;
    padding-left: 0px;
    padding-right: 0px;
}

#right {
    float: right;
    width: 45%;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 14px;
    line-height: 1.3;
}

.footerButton {
  float: left;
  height: 40px;
  width: 135px;
  border: 1px solid #333;
  cursor: pointer;
  font: 13px Lato;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  text-decoration: none !important;
  color: #333 !important;
}

.footerButton:hover {
  background: #fdbf11;
  color: #fff !important;
}

.footerButton.researchButton {
  margin-left: 15px;
}

.footerTopP {
  clear: both;
  padding-top: 14px;
}

footer p {
    font-size: 14px;
}

.peerGroupProfile footer p {
    max-width: 100%;
    font-size: 16px;
}

footer h2 {
    text-transform: uppercase;
    font-weight: 700;
}

footer h3, footer h4 {
    font-weight: 400;
}

.credits {
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 16px;
}

.job {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 12px;
}

.urbanstatement {
    font-style: italic;
    color: #666666;
    font-size: 13px;
    margin-bottom: 1em;
}

.about-data {
  line-height: 1.6;
  margin-bottom: 15px;
}

@media (max-width: 1000px) {

    .subnav a{
        font-size:14px;
    }
}


/*browser windows smaller than 850px*/
@media (max-width: 1180px) {
    .wrapper {
        width:100%;
        padding-top:100px;
    }

    .content {
        width:auto;
        padding:0px 30px
    }

    .container {
        width:auto;
        padding:0px 30px;
        margin-bottom: 40px;
    }

    .subnav {
        display: none;
    }

    #mobilenavcontainer {
        width: 100%;
        position: fixed;
        top: 0px;
        height: 45px;
        display: block;
        z-index: 11;
    }

    .show-menu{
        display: block;
        width: 100%;
        position: fixed;
        text-decoration: none;
        color: #fff;
        background: #0096d2;
        text-align: center;
        padding: 10px 0;
    }

    /*Hide checkbox*/
    input[type=checkbox]:unchecked ~ #menu{
        display: none;
        visibility:hidden;
    }

    /*Show menu when invisible checkbox is checked*/
    input[type=checkbox]:checked ~ #menu{
        display: block;
        position: absolute;
        top: 85px;
        width: 100%;
        height: 150px;
        z-index: 10;
    }

    ul#menu {
        float:none;
        display: none;
        text-align: center;
        list-style:none;
        margin:0px;
    }

    #menu li {
        margin-bottom:0px;
        list-style:none;
        padding-left:0px;
    }

    .headerimage {
        top:44px;
    }

    #left {
        width:100%;
    }

    #right {
        width:100%;
        margin-top:30px;
    }
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*browser windows smaller than 850px*/
@media (max-width: 399px) {
    .wrapper {
        padding-top:80px;
    }

    .headerimage{
        height:160px;
    }

    .overhalf{
        width:100%;
    }
}

@media (max-width: 600px) and (min-width:400px) {
    .wrapper {
        padding-top:80px;
    }

    .headerimage {
        height:250px;
    }

    .overhalf{
        width:100%;
    }
}

.full-col {
    width: 100%;
}

.container {
    margin-bottom: 80px;
    padding: 0px 30px;
}

#corr-date {
  font-style: italic;
  font-size: 16px;
}

#corr-corr{
  font-style: italic;
  font-size: 16px;
}